@media (max-width: 320px) {
  .container {
    width: 304px;
    height: 72px;
  }

  .logonkey {
    width: 80px;
    height: 40px;
  }

  .navbar {
    width: 320px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-text {
    display: none;
  }
}

.custom-input {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.41px;
  color: #677489;
}

button.btn.btn-link.fa-lg {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #422d92;
  text-decoration: none;
}

button.btn.btn-link.fa-lg i {
  font-size: 22px;
}

.dropdown-menu {
  right: auto !important;
  transform: translate(-51%, 8%) !important;
}
.dropdown-item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #111111;
}

.dropdown-item:active {
  background-color: none;
}

/* CSS para a imagem */
.img-thumbnail.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 120px;
  height: 60px;
}

.sideheader-list,
.product-item,
.product-price,
.product-desc,
.text-footer {
  font-family: "Exo 2", sans-serif;
}

.sideheader-list {
  width: 111px;
  height: 24px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  text-align: center;
  letter-spacing: -0.41px;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.dropdown-item {
  margin-bottom: 5px;
}

.product-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #20293a;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}

.product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #677489;
  padding: 15px 0px;
  gap: 10px;
  white-space: nowrap;
}

.product-price,
.product-desc {
  margin-top: 5px;
}
